<aside class="sidebar pos-absolute z-2"
       data-role="sidebar"
       data-toggle="#sidebar-toggle-3"
       id="sb3"
       data-shift=".shifted-content">
    <div class="sidebar-header" data-image="images/sb-bg-1.jpg">
        <div class="avatar">
            <img data-role="gravatar" data-email="a@b.com" data-default="https://lh4.googleusercontent.com/proxy/DDHEqJAUuDSFbfU-qZSdJhC565vEpqz8dUbCt5-XGistIKh8RMv3BsGfZ-ONGh_6Vy1GFDS8Gv18aGWnlTt-b2aJ7x740LFw9KfKwBAlWa1xupnh2kTAQt60pwmJzkh0Ew_hHG8Q8exWaPJVZRqFgTZSgyPEm2toOaJVLDg0Lu28pg=w1200-h630-p-k-no-nu">
        </div>
    </div>
    <ul class="sidebar-menu">
        <li><a routerLink="/body"><span class="mif-home icon"></span>Home</a></li>
        <li><a routerLink="/catalogue"><span class="mif-books icon"></span>Catalogue</a></li>
        <li><a routerLink="/about"><span class="mif-files-empty icon"></span>About</a></li>
        <li class="divider"></li>
    </ul>
</aside>
<div class="shifted-content h-100 p-ab">
    <div class="app-bar pos-absolute bg-red z-1" data-role="appbar">
        <button class="app-bar-item c-pointer" id="sidebar-toggle-3">
            <span class="mif-menu fg-white"></span>
        </button>
    </div>
</div>
