<table>
    <tr>
      <!--=====================================================================-->
      <th>
          <div class="card w-40">
            <div class="card-header">
                <div class="avatar">
                    <img src="http://localhost:4200/assets/img/proxy.duckduckgo.com.png">
                </div>
                <div class="name">Keyboard Ring <b class="fg-red">$3.47  <s>$6.00</s></b></div>
                <div class="date">Promo Sale </div>
            </div>
            <div class="card-content p-2">
                Ship between: Jan 25 - Jan 27, Estimated Shipping Time: 15-30 business days
            </div>
            <div class="card-content">
                <img src="http://localhost:4200/assets/img/WhatsApp Image 2019-01-24 at 20.32.34.jpeg" style="width: 100%">
            </div>
            <div class="card-content fg-gray p-2">
                <span><small>Favorites: </small>112</span>
                <span><small>Comments: </small>43</span>
            </div>
            <div class="card-footer">
                <button class="flat-button mif-cart mif-2x"></button>
                <button class="flat-button mif-heart mif-2x"></button>
                <button class="flat-button mif-share mif-2x"></button>
            </div>
          </div>
        </th>
      <!--=====================================================================-->
      <th>
          <div class="card w-40">
            <div class="card-header">
                <div class="avatar">
                    <img src="http://localhost:4200/assets/img/proxy.duckduckgo.com.png">
                </div>
                <div class="name">Keyboard Bracelet <b class="fg-red">$0.50  <s>$3.00</s></b></div>
                <div class="date">Promo Sale</div>
            </div>
            <div class="card-content p-2">
                Ship between: Jan 25 - Jan 27, Estimated Shipping Time: 15-30 business days
            </div>
            <div class="card-content">
                <img src="http://localhost:4200/assets/img/WhatsApp Image 2019-01-24 at 20.32.35.jpeg" style="width: 100%">
            </div>
            <div class="card-content fg-gray p-2">
                <span><small>Likes: </small>112</span>
                <span><small>Comments: </small>43</span>
            </div>
            <div class="card-footer">
                <button class="flat-button mif-cart mif-2x"></button>
                <button class="flat-button mif-heart mif-2x"></button>
                <button class="flat-button mif-share mif-2x"></button>
            </div>
          </div>
        </th>
    <!--=====================================================================-->
    <th>
        <div class="card w-40">
          <div class="card-header">
              <div class="avatar">
                  <img src="http://localhost:4200/assets/img/proxy.duckduckgo.com.png">
              </div>
              <div class="name">Cassette Schedule <b class="fg-red">$3.50</b></div>
              <div class="date">Prices left: 225</div>
          </div>
          <div class="card-content p-2">
              Ship between: Jan 25 - Jan 27, Estimated Shipping Time: 15-30 business days
          </div>
          <div class="card-content">
              <img src="http://localhost:4200/assets/img/WhatsApp Image 2019-01-24 at 20.32.35(1).jpeg" style="width: 100%">
          </div>
          <div class="card-content fg-gray p-2">
              <span><small>Likes: </small>112</span>
              <span><small>Comments: </small>43</span>
          </div>
          <div class="card-footer">
              <button class="flat-button mif-cart mif-2x"></button>
              <button class="flat-button mif-heart mif-2x"></button>
              <button class="flat-button mif-share mif-2x"></button>
          </div>
        </div>
      </th>
    <!--=====================================================================-->
    </tr>
    <tr>
      <!--=====================================================================-->
      <td>
          <div class="card w-40">
              <div class="card-header">
                  <div class="avatar">
                      <img src="http://localhost:4200/assets/img/proxy.duckduckgo.com.png">
                  </div>
                  <div class="name">Chip keychains <b class="fg-red">$5.50</b></div>
                  <div class="date">Prices left: 25 </div>
              </div>
              <div class="card-content p-2">
                  Ship between: Jan 25 - Jan 27, Estimated Shipping Time: 15-30 business days
              </div>
              <div class="card-content">
                  <img src="http://localhost:4200/assets/img/WhatsApp Image 2019-01-24 at 20.32.35(2).jpeg" style="width: 100%">
              </div>
              <div class="card-content fg-gray p-2">
                  <span><small>Likes: </small>112</span>
                  <span><small>Comments: </small>43</span>
              </div>
              <div class="card-footer">
                  <button class="flat-button mif-cart mif-2x"></button>
                  <button class="flat-button mif-heart mif-2x"></button>
                  <button class="flat-button mif-share mif-2x"></button>
              </div>
            </div>
         </td>
         <!--=====================================================================-->
      <td>
          <div class="card w-40">
              <div class="card-header">
                  <div class="avatar">
                      <img src="http://localhost:4200/assets/img/proxy.duckduckgo.com.png">
                  </div>
                  <div class="name">Earrings keys <b class="fg-red">$15.50</b></div>
                  <div class="date">Prices left: 5</div>
              </div>
              <div class="card-content p-2">
                  Ship between: Jan 25 - Jan 27, Estimated Shipping Time: 15-30 business days
              </div>
              <div class="card-content">
                  <img src="http://localhost:4200/assets/img/WhatsApp Image 2019-01-24 at 20.32.35(3).jpeg" style="width: 100%">
              </div>
              <div class="card-content fg-gray p-2">
                  <span><small>Likes: </small>112</span>
                  <span><small>Comments: </small>43</span>
              </div>
              <div class="card-footer">
                  <button class="flat-button mif-cart mif-2x"></button>
                  <button class="flat-button mif-heart mif-2x"></button>
                  <button class="flat-button mif-share mif-2x"></button>
              </div>
            </div>
      </td>
      <!--=====================================================================-->
      <td>
          <div class="card w-40">
              <div class="card-header">
                  <div class="avatar">
                      <img src="http://localhost:4200/assets/img/proxy.duckduckgo.com.png">
                  </div>
                  <div class="name">Earrings chips <b class="fg-red">$15.50 <s>$45.00</s></b></div>
                  <div class="date">Promo sale</div>
              </div>
              <div class="card-content p-2">
                  Ship between: Jan 25 - Jan 27, Estimated Shipping Time: 15-30 business days
              </div>
              <div class="card-content">
                  <img src="http://localhost:4200/assets/img/WhatsApp Image 2019-01-24 at 20.32.35(4).jpeg" style="width: 100%">
              </div>
              <div class="card-content fg-gray p-2">
                  <span><small>Likes: </small>112</span>
                  <span><small>Comments: </small>43</span>
              </div>
              <div class="card-footer">
                  <button class="flat-button mif-cart mif-2x"></button>
                  <button class="flat-button mif-heart mif-2x"></button>
                  <button class="flat-button mif-share mif-2x"></button>
              </div>
            </div>
      </td>
      <!--=====================================================================-->
    </tr>
    <tr>
        <!--=====================================================================-->
        <td>
            <div class="card w-40">
                <div class="card-header">
                    <div class="avatar">
                        <img src="http://localhost:4200/assets/img/proxy.duckduckgo.com.png">
                    </div>
                    <div class="name">Notebook <b class="fg-red">$2.50 <s>$5.00</s></b></div>
                    <div class="date">Promo Sale</div>
                </div>
                <div class="card-content p-2">
                    Ship between: Jan 25 - Jan 27, Estimated Shipping Time: 15-30 business days
                </div>
                <div class="card-content">
                    <img src="http://localhost:4200/assets/img/WhatsApp Image 2019-01-24 at 20.32.35(5).jpeg" style="width: 100%">
                </div>
                <div class="card-content fg-gray p-2">
                    <span><small>Likes: </small>112</span>
                    <span><small>Comments: </small>43</span>
                </div>
                <div class="card-footer">
                    <button class="flat-button mif-cart mif-2x"></button>
                    <button class="flat-button mif-heart mif-2x"></button>
                    <button class="flat-button mif-share mif-2x"></button>
                </div>
              </div>
           </td>
           <!--=====================================================================-->
        <td>
            <div class="card w-40">
                <div class="card-header">
                    <div class="avatar">
                        <img src="http://localhost:4200/assets/img/proxy.duckduckgo.com.png">
                    </div>
                    <div class="name">Accesories <b class="fg-red">$5.00-$50.00  <s>$200.00</s></b></div>
                    <div class="date">Promo Sale</div>
                </div>
                <div class="card-content p-2">
                    Ship between: Jan 25 - Jan 27, Estimated Shipping Time: 15-30 business days
                </div>
                <div class="card-content">
                    <img src="http://localhost:4200/assets/img/WhatsApp Image 2019-01-24 at 20.32.35(6).jpeg" style="width: 100%">
                </div>
                <div class="card-content fg-gray p-2">
                    <span><small>Likes: </small>112</span>
                    <span><small>Comments: </small>43</span>
                </div>
                <div class="card-footer">
                    <button class="flat-button mif-cart mif-2x"></button>
                    <button class="flat-button mif-heart mif-2x"></button>
                    <button class="flat-button mif-share mif-2x"></button>
                </div>
              </div>
        </td>
        <!--=====================================================================-->
        <td>
            <div class="card w-40">
                <div class="card-header">
                    <div class="avatar">
                        <img src="http://localhost:4200/assets/img/proxy.duckduckgo.com.png">
                    </div>
                    <div class="name">Picture Frames <b class="fg-red">$15.00  <s>$25.00</s></b></div>
                    <div class="date">Promo Sale</div>
                </div>
                <div class="card-content p-2">
                    Ship between: Jan 25 - Jan 27, Estimated Shipping Time: 15-30 business days
                </div>
                <div class="card-content">
                    <img src="http://localhost:4200/assets/img/WhatsApp Image 2019-01-24 at 20.32.35(7).jpeg" style="width: 100%">
                </div>
                <div class="card-content fg-gray p-2">
                    <span><small>Likes: </small>112</span>
                    <span><small>Comments: </small>43</span>
                </div>
                <div class="card-footer">
                    <button class="flat-button mif-cart mif-2x"></button>
                    <button class="flat-button mif-heart mif-2x"></button>
                    <button class="flat-button mif-share mif-2x"></button>
                </div>
              </div>
        </td>
        <!--=====================================================================-->
      </tr>
</table>
